.majesticonsHome.majesticonsHome {
  left: 10.4262px;
  top: 6.9508px;
  width: 16.6819px;
  height: 16.6819px;
}
.group.group {
  left: 1.0258px;
  top: 1.6106px;
  width: 14.6138px;
  height: 12.9861px;
}
.group {
  left: 1.0258px;
  top: 1.6106px;
  width: 14.6138px;
  height: 12.9861px;
}
.icon {
  width: 100%;
  height: 100%;
}
.leftIcon.leftIcon {
  width: 10.4262px;
  height: 10.4262px;
}
.vector.vector {
  left: 3.3347%;
  right: 3.332%;
  top: 3.3334%;
}
.vector {
  left: 3.3347%;
  right: 3.332%;
  top: 3.3334%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rightIcon.rightIcon {
  width: 10.4262px;
  height: 10.4262px;
}
.vector2.vector2 {
  left: 16.665%;
  right: 16.6683%;
  top: 3.3331%;
  bottom: 0.0003%;
}
.vector2 {
  left: 16.665%;
  right: 16.6683%;
  top: 3.3331%;
  bottom: 0.0003%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 21.5475px;
  background-color: #0a3791;  /* DI SINI WARNA BACKGROUNDNYA*/
  overflow-y: auto;
  overflow-x: hidden;
}
.frame19 {
  transform-origin: top left;
  position: absolute;
  left: 265.8207px;
  top: 712.9901px;
  width: 791px;
  height: 183px;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame18 {
  transform-origin: top left;
  position: absolute;
  left: 584px;
  top: 0px;
  width: 208px;
  height: 181px;
  flex-direction: column;
  align-items: flex-start;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 208px;
  height: 181px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6.9508px;
  background-color: #ffffff14;
}
.frame17 {
  transform-origin: top left;
  position: absolute;
  left: 304px;
  top: 1px;
  width: 270px;
  height: 181px;
  flex-direction: column;
  align-items: flex-start;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame82 {
  position: absolute;
  left: 0.4185px;
  top: 0.0535px;
  width: 270px;
  height: 181px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6.9508px;
  background-color: #ffffff14;
}
.excellent {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 7.7696%;
  right: 45.5638%;
  top: calc(50% - 51.0985px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.frame16 {
  transform-origin: top left;
  position: absolute;
  left: 0.5815px;
  top: 0.9465px;
  width: 293.8366px;
  height: 181.171px;
  flex-direction: column;
  align-items: flex-start;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.frame83 {
  position: absolute;
  left: 0;
  top: 0;
  width: 293.8366px;
  height: 181.171px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6.9508px;
  background-color: #ffffff14;
}
.excellent2 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 7.7696%;
  right: 73.8529%;
  top: calc(50% - 51.184px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.slide1691 {
  position: absolute;
  left: 0;
  top: 0;
  width: 221.9123px;
  height: 1023.9999px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 13.9016px;
  background-color: #ffffff0f;
  overflow: hidden;
}
.content {
  position: absolute;
  left: 17.3768px;
  top: 101.4816px;
  width: 186.2813px;
  height: 394.8051px;
  flex-direction: column;
  align-items: flex-start;
}
.frame2 {
  position: absolute;
  left: 4.1705px;
  top: 62.5572px;
  width: 185.5862px;
  height: 34.754px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle32 {
  position: absolute;
  left: 0;
  top: 0;
  width: 185.5862px;
  height: 34.754px;
  border-radius: 8.341px;
}
.chart {
  position: absolute;
  left: 6.9508px;
  top: 9.7311px;
  width: 15.2915px;
  height: 15.2918px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.form {
  color: #bdc2f6;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 35.4489px;
  top: 9.7311px;
  width: 75.7637px;
  height: 13.9016px;
  flex-direction: column;
}
.frame1 {
  position: absolute;
  left: 4.1642px;
  top: 124.5644px;
  width: 185.5862px;
  height: 34.754px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 185.5862px;
  height: 34.754px;
  border-radius: 8.341px;
}
.result {
  color: #bdc2f6;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.8392px;
  top: 9.036px;
  width: 38.9244px;
  height: min-content;
  flex-direction: column;
}
.heart1 {
  position: absolute;
  left: 0px;
  top: 9.036px;
  width: 15.2917px;
  height: 15.2917px;
  flex-direction: column;
  overflow: hidden;
}
.vector3 {
  position: absolute;
  left: 4.1198%;
  right: 87.641%;
  top: 26%;
  bottom: 35.5%;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.frame3 {
  position: absolute;
  left: 0.6948px;
  top: 0px;
  width: 147.3568px;
  height: 34.754px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 147.3568px;
  height: 34.754px;
  border-radius: 8.341px;
  background-color: #0e45b7;
}
.dashboard {
  color: #fff;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.5344px;
  top: 9.7311px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.logo {
  position: absolute;
  left: 21.5473px;
  top: 20.1573px;
  width: 143.8814px;
  height: 40.3146px;
  flex-direction: column;
  align-items: flex-start;
}
.healthish {
  color: #fff;
  font-size: 13.9016px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 38.2296px;
  top: 10.4262px;
  width: 94.5308px;
  height: 25.7179px;
  flex-direction: column;
}
.caduceus {
  position: absolute;
  left: 4.2556px;
  top: 10.4262px;
  width: 19.5334px;
  height: 21.5475px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.textInput {
  position: absolute;
  left: 572.75px;
  top: 40.5384px;
  width: 485.7861px;
  height: 34.7008px;
  flex-direction: column;
}
._TextInput {
  height: 31.2786px;
  align-self: stretch;
  flex-direction: column;
  gap: 5.5606px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.inputContent {
  height: 31.2786px;
  align-self: stretch;
  align-items: center;
  gap: 5.5606px;
  padding: 5.5606px 11.1213px;
  border-radius: 4.8656px;
  background-color: #ffffff26;
}
.placeholderValue {
  height: 27.8032px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 5.5606px;
  overflow: hidden;
}
.placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 116%;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: 11.1213px;
  align-self: stretch;
  justify-content: center;
  flex-direction: column;
}
.frame182 {
  position: absolute;
  left: 264.5021px;
  top: 387.8044px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 12px;
}
.group1000001809 {
  position: relative;
  width: 549.9551px;
  height: 301.6586px;
}
.bG {
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  bottom: 0%;
  width: 549.9551px;
  height: 301.6586px;
  flex-direction: column;
  align-items: flex-start;
}
.elementsBG {
  position: absolute;
  left: 0;
  right: 1.5842%;
  top: 0;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
}
.color {
  position: absolute;
  left: 0;
  right: -1.6097%;
  top: 0;
  bottom: 0;
  border-radius: 6.9508px;
  background-color: #ffffff1a;
}
.group8Copy {
  position: absolute;
  left: 72.4345%;
  right: 9.4568%;
  top: 6.1372%;
  bottom: 85.9206%;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.rectangleCopy {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2.5px;
  background-color: #f7f7f71a;
}
.group22 {
  position: absolute;
  left: 10.793px;
  top: 7.597px;
  width: 9.2126px;
  height: 9.2156px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.month {
  color: #fff;
  font-size: 12px;
  line-height: 7.6459px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.0595px;
  position: absolute;
  left: 33.4495%;
  right: 27.7797%;
  top: calc(50% - -1.0096px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.arrowCopy {
  position: absolute;
  left: 80.3043px;
  top: calc(50%);
  width: 6.5257px;
  height: 4.0103px;
  overflow: visible;
  transform: translateY(-50%);
}
.icon8 {
  width: 100%;
  height: 100%;
}
.dataAnalysis {
  color: #fff;
  font-size: 16px;
  line-height: 13.9016px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 3.1682%;
  right: 76.2846%;
  top: 6.1372%;
  bottom: 89.2218%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.iconsMoreHorizontal {
  position: absolute;
  left: 91.8812%;
  right: 2.9703%;
  top: 5.4152%;
  bottom: 85.1986%;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.group1000001808 {
  position: relative;
  width: 233.0031px;
  height: 300.2642px;
}
.rectangle19 {
  transform-origin: top left;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 233.0031px;
  height: 300.2642px;
  border-radius: 6.9508px;
  background-color: #ffffff1a;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.iconsMoreHorizontal2 {
  position: absolute;
  left: 85.5615%;
  right: 3.3273%;
  top: 5.415%;
  bottom: 85.1988%;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.frame15 {
  position: absolute;
  left: 265.2282px;
  top: 270.2613px;
  width: 797.2106px;
  height: 99.168px;
  flex-direction: column;
}
.frame172 {
  position: absolute;
  left: 268.3302px;
  top: 259.5362px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 20px;
}
.group1000001789 {
  position: relative;
  width: 385px;
  height: 200px;
  transform: matrix(1, 0.0065, -0.0026, 1, 0, 0);
}
.rectangle8 {
  transform-origin: top left;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0%;
  width: 385px;
  height: 200px;
  border-radius: 6.9508px;
  background-color: #ffffff0f;
  transform: matrix(1, 0.0065, -0.0026, 1, 0, 0);
}
.group1000001790 {
  position: relative;
  width: 385px;
  height: 97.5579px;
  transform: matrix(1, 0.0065, -0.0028, 1, 0, 0);
}
.rectangle7 {
  transform-origin: top left;
  position: absolute;
  left: 0;
  right: 0%;
  top: 0;
  bottom: 0%;
  width: 385px;
  height: 97.5579px;
  border-radius: 6.9508px;
  background-color: #ffffff0f;
  transform: matrix(1, 0.0065, -0.0028, 1, 0, 0);
}
.group1000001788 {
  width: 250.0946px;
  height: 99.1663px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.rectangle6 {
  transform-origin: top left;
  position: absolute;
  left: 266.5215px;
  top: 107.4384px;
  width: 790.8693px;
  height: 134.2397px;
  border-radius: 6.9508px;
  background-image: linear-gradient(270deg, #71ddb1ff 0%, #1a4fbaff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transform: matrix(1, 0, 0.0039, 1, 0, 0);
}
.dashboardOverview {
  transform-origin: top left;
  color: #fff;
  font-size: 12.5114px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 267.441px;
  top: 73.8789px;
  width: 201.3885px;
  height: 21.334px;
  flex-direction: column;
  transform: matrix(1, 0, 0.0039, 1, 0, 0);
}
.helloJohnDoe {
  transform-origin: top left;
  position: absolute;
  left: 299.1044px;
  top: 124.6086px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0.0039, 1, 0, 0);
}
.labelWrapper {
  font-size: 15.9868px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #ced5dc;
  font-size: 15.9868px;
  line-height: 37.1867px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #fff;
  font-size: 15.9868px;
  line-height: 37.1867px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.haveANiceDayAndDonTForgetToTak {
  transform-origin: top left;
  color: #d4e3f0;
  font-size: 12px;
  line-height: 13.554px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 298.2096px;
  top: 164.412px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0.0039, 1, 0, 0);
}
.learnMore {
  transform-origin: top left;
  color: #71ddb1;
  font-size: 12px;
  line-height: 13.9016px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 300.4882px;
  top: 211.2393px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0.0039, 1, 0, 0);
}
.downArrowIcon {
  position: absolute;
  left: 379.3368px;
  top: 212.7801px;
  width: 7.4209px;
  height: 10.1853px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.leisureSport_MeditationMeditat {
  position: absolute;
  left: 836.3657px;
  top: 80.6211px;
  width: 167.2303px;
  height: 163.4862px;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.bG2 {
  position: absolute;
  left: 1103.7232px;
  top: 2.7638px;
  width: 326.1197px;
  height: 1039.4337px;
  overflow: visible;
  filter: drop-shadow(0px 9.731112480163574px 23.632699966430664px #2225a966);
}
.icon14 {
  width: 100%;
  height: 100%;
}
.a1 {
  transform-origin: top left;
  position: absolute;
  left: 1377.6821px;
  top: 32.1978px;
  width: 32.4745px;
  height: 32.4745px;
  outline: solid 0.6951px #fff;
  outline-offset: -1px;
  border-radius: 34.754px;
  background-image:/* webpackIgnore: true */ url('/assets/a1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.rectangle14 {
  transform-origin: top left;
  position: absolute;
  left: 1125.6461px;
  top: 523.174px;
  width: 32.5818px;
  height: 36.5336px;
  border-radius: 5.5606px;
  background-color: #71ddb11c;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.bell {
  position: absolute;
  left: 1132.8809px;
  top: 531.2727px;
  width: 18.1169px;
  height: 20.3106px;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.healthAppointment {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1168.1834px;
  top: 523.1406px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.mrDokTomm {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1168.1682px;
  top: 545.4667px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
._920AM1130 {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1166.2986px;
  top: 577.1361px;
  width: 123.0867px;
  height: 14.6001px;
  flex-direction: column;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.rectangle142 {
  transform-origin: top left;
  position: absolute;
  left: 1125.5747px;
  top: 623.6415px;
  width: 32.5818px;
  height: 36.5336px;
  border-radius: 5.5606px;
  background-color: #71ddb11a;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.bell2 {
  position: absolute;
  left: 1132.8104px;
  top: 631.7402px;
  width: 18.1169px;
  height: 20.3106px;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.meetingWithTokDalang {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1169.0186px;
  top: 623.6074px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
._70AM {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1169.0025px;
  top: 645.9336px;
  width: 37.7603px;
  height: 14.6001px;
  flex-direction: column;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.dueSoon {
  transform-origin: top left;
  color: #ffad47;
  font-size: 12px;
  font-weight: 300;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1215.1598px;
  top: 645.8974px;
  width: 42.9687px;
  height: 14.6001px;
  flex-direction: column;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.frame11 {
  transform-origin: top left;
  position: absolute;
  left: 1118.2326px;
  top: 742.1003px;
  width: 298.6988px;
  height: 241.6084px;
  flex-direction: column;
  align-items: flex-start;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.meditation {
  position: absolute;
  left: 0;
  right: 0;
  top: 25.9259%;
  bottom: 0%;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.rectangle5 {
  position: absolute;
  left: -0.3816%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 13.2065px;
  background-color: #ffffff1a;
}
.meditation2 {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 9.1967%;
  right: 68.3727%;
  top: calc(50% - 25.888px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
._50PM60PM {
  color: #fff;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 9.1966%;
  right: 57.9944%;
  top: calc(50% - 2.9503px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.coachTimBjorvick {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 9.0642%;
  right: 50.7616%;
  top: calc(50% - -17.7814px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translateY(-50%);
}
.postWorkoutSession {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 4.8728%;
  right: 71.6923%;
  top: calc(50% - 65.6952px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translateY(-50%);
}
.iconsMoreHorizontal3 {
  position: absolute;
  left: 86.6412%;
  right: 5.397%;
  top: 35.4497%;
  bottom: 53.6878%;
  overflow: visible;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.vector32 {
  position: absolute;
  left: 1126.2464px;
  top: 498.0553px;
  width: 228.9774px;
  max-width: 100%;
  height: 0.1793px;
  max-height: 100%;
  overflow: visible;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.vector4 {
  position: absolute;
  left: 1127.7804px;
  top: 782.7422px;
  width: 277.213px;
  max-width: 100%;
  height: 0.0934px;
  max-height: 100%;
  overflow: visible;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.medium_User {
  transform-origin: top left;
  position: absolute;
  left: 1128.4552px;
  top: 88.0185px;
  width: 288.6463px;
  height: 258.2526px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10.4363px;
  background-color: #3fbdf11a;
  overflow: hidden;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.johnDoe {
  transform-origin: top left;
  color: #fff;
  font-size: 12.5235px;
  line-height: 16.698px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  position: absolute;
  left: calc(50% - 2.874px);
  top: calc(50% - 24.4477px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translate(-50%, -50%);
}
._25YearsOldLondon {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 17.0935%;
  right: 55.0081%;
  top: calc(50% - 5.2122px);
  height: min-content;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translateY(-50%);
}
.ellipse46 {
  position: absolute;
  left: calc(50% - 2.2857px);
  top: calc(50% - 68.596px);
  width: 42.8068px;
  height: 42.8068px;
  overflow: visible;
  transform: translate(-50%, -50%);
}
.icon20 {
  width: 100%;
  height: 100%;
}
.avatar {
  transform-origin: top left;
  position: absolute;
  left: calc(50% - 2.7139px);
  top: calc(50% - 67.0977px);
  width: 43.6629px;
  height: 43.6629px;
  background-image:/* webpackIgnore: true */ url('/assets/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(1, 0, 0, 1, 0, 0) translate(-50%, -50%);
}
.location {
  transform-origin: top left;
  position: absolute;
  left: calc(50% - -41.9665px);
  top: calc(50% - 4.4934px);
  width: 75.9704px;
  height: 9.2419px;
  flex-direction: column;
  align-items: flex-start;
  transform: matrix(1, 0.0072, -0.0072, 1, 0, 0) translate(-50%, -50%);
}
.newYorkUSA {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  line-height: 12.5235px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  position: absolute;
  left: 24.4056%;
  right: -33.6586%;
  top: -14.3668%;
  bottom: -26.2972%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, -0.0072, 0.0072, 1, 0, 0);
}
.locationIcon {
  position: absolute;
  left: 5.9731px;
  top: -1.7538px;
  width: 8.9912px;
  height: 10.953px;
  overflow: visible;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.group18 {
  transform-origin: top left;
  position: absolute;
  left: 9.3136%;
  right: 5.8758%;
  top: 61.1083%;
  bottom: 11.3718%;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.blood {
  transform-origin: top left;
  color: #ffffff6b;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.8057%;
  right: 83.0599%;
  top: calc(50% - 11.628px);
  height: min-content;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translateY(-50%);
}
.height {
  transform-origin: top left;
  color: #ffffff6b;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39.674%;
  right: 41.5025%;
  top: calc(50% - 11.143px);
  height: min-content;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translateY(-50%);
}
.weight {
  transform-origin: top left;
  color: #ffffff6b;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 77.1192%;
  right: 2.7128%;
  top: calc(50% - 10.5121px);
  height: min-content;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translateY(-50%);
}
.o {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.9345%;
  right: 88.3092%;
  top: calc(50% - -10.1234px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
._186cm {
  transform-origin: top left;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39.622%;
  right: 44.0383%;
  top: calc(50% - -10.9637px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translateY(-50%);
}
._90kg {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 76.6356%;
  right: 3.8686%;
  top: calc(50% - -10.1234px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.line {
  position: absolute;
  left: 67.9908%;
  right: 31.5419%;
  top: 0%;
  bottom: 1.3581%;
  overflow: visible;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.line2 {
  position: absolute;
  left: 26.4801%;
  right: 73.0526%;
  top: 0%;
  bottom: 1.3582%;
  overflow: visible;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.line3 {
  position: absolute;
  left: 49.0222%;
  right: 50.5975%;
  top: 44.9079%;
  bottom: 48.6994%;
  overflow: visible;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.datePicker {
  transform-origin: top left;
  position: hidden;
  left: 78.0952%;
  right: 1.9894%;
  top: 37.1077%;
  bottom: 53.4774%;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.mon {
  color: #ccdde2;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0%;
  right: 90.6274%;
  top: calc(50% - -0.8187px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.tues {
  color: #ccdde2;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.0064%;
  right: 76.1525%;
  top: calc(50% - -0.8187px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle9 {
  position: absolute;
  left: 27.0357%;
  right: 59.6092%;
  top: 22.1053%;
  bottom: 0;
  border-radius: 13.9016px;
  background-color: #71ddb114;
}
.wed {
  color: #71ddb1;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 28.9901%;
  right: 61.1687%;
  top: calc(50% - -0.8187px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.thu {
  color: #ccdde2;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.6482%;
  right: 48.3851%;
  top: calc(50% - -0.8187px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.fri {
  color: #ccdde2;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 56.3518%;
  right: 38.4933%;
  top: calc(50% - -0.8187px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.sat {
  color: #ccdde2;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 66.4495%;
  right: 26.5211%;
  top: calc(50% - -0.8187px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.sun {
  color: #ccdde2;
  font-size: 12px;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 78.1759%;
  right: 13.8574%;
  top: calc(50% - -0.8187px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.mon2 {
  color: #93b0c85e;
  font-size: 12px;
  font-weight: 500;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 90.8794%;
  right: -0.2519%;
  top: calc(50% - -0.8187px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
._9 {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 2.6059%;
  right: 94.1137%;
  top: calc(50% - -20.281px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
._10 {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 16.2866%;
  right: 78.5585%;
  top: calc(50% - -20.281px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
._11 {
  color: #71ddb1;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 31.596%;
  right: 64.655%;
  top: calc(50% - -20.281px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.oval {
  position: absolute;
  left: 35.8306%;
  right: 62.8665%;
  top: 67.3684%;
  bottom: 28.4211%;
  overflow: visible;
}
.icon25 {
  width: 100%;
  height: 100%;
}
._12 {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 44.951%;
  right: 50.3627%;
  top: calc(50% - -20.281px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
._13 {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 56.3518%;
  right: 38.4933%;
  top: calc(50% - -20.281px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.oval2 {
  position: absolute;
  left: 61.5635%;
  right: 37.1335%;
  top: 67.3684%;
  bottom: 28.4211%;
  overflow: visible;
}
.icon26 {
  width: 100%;
  height: 100%;
}
._14 {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 67.4266%;
  right: 27.4185%;
  top: calc(50% - -20.281px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
._15 {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 79.4787%;
  right: 15.3664%;
  top: calc(50% - -20.281px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
._16 {
  color: #59748a55;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 92.8339%;
  right: 2.0112%;
  top: calc(50% - -20.281px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle10 {
  position: absolute;
  left: 14.9514%;
  right: 82.117%;
  top: 22.1562%;
  bottom: 71.528%;
  overflow: visible;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.march {
  transform-origin: top left;
  color: #ccdde2;
  font-size: 12px;
  font-weight: bold;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -0.0001%;
  right: 86.0523%;
  top: calc(50% - 24.2041px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0) translateY(-50%);
}
.vector5 {
  position: absolute;
  left: 64.1456%;
  right: 31.7348%;
  top: 10.7937%;
  bottom: 76.757%;
  overflow: visible;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.addReminder {
  transform-origin: top left;
  color: #3fbdf1;
  font-size: 12px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2692px;
  position: absolute;
  left: 198.9727px;
  top: 8.0227px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.vector1 {
  position: absolute;
  left: 1125.0732px;
  top: 611.8331px;
  width: 287.1135px;
  max-width: 100%;
  height: 0.0847px;
  max-height: 100%;
  overflow: visible;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.frame14 {
  transform-origin: top left;
  position: absolute;
  left: 1160.7891px;
  top: 28.4013px;
  width: 27.8855px;
  height: 28.9993px;
  flex-direction: column;
  align-items: flex-start;
  transform: matrix(1, -0.0008, -0.0007, 1, 0, 0);
}
.bellOutline {
  position: absolute;
  left: -3.0228px;
  top: -2.3302px;
  width: 34.0911px;
  height: 34.0911px;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.fond {
  position: absolute;
  left: calc(50% - -7.3795px);
  top: calc(50% - 3.9288px);
  width: 11.2048px;
  height: 11.2048px;
  transform: translate(-50%, -50%);
}
.icon31 {
  width: 100%;
  height: 100%;
}
.counter {
  transform-origin: top left;
  color: #fff;
  font-size: 4.1705px;
  font-weight: bold;
  font-family: DM Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50.2547%;
  right: 1.5277%;
  top: 25.2936%;
  bottom: 43.7959%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.pages {
  opacity: 0.4993;
  color: #bdc5cd;
  font-size: 12px;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2692px;
  position: absolute;
  left: 18.5282%;
  right: 79.1802%;
  top: calc(50% - 473.314px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.unnamed {
  color: #bdc5cd;
  font-size: 12px;
  font-weight: 600;
  font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2692px;
  position: absolute;
  left: 21.0475%;
  right: 78.6053%;
  top: calc(50% - 472.9768px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.tables {
  color: #bdc5cd;
  font-size: 12px;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.2692px;
  position: absolute;
  left: 21.6056%;
  right: 74.2972%;
  top: calc(50% - 473.2882px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.frame20 {
  transform-origin: top left;
  position: absolute;
  left: 262.8296px;
  top: 907.9869px;
  width: 795px;
  height: 100px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.text {
  transform-origin: top left;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 1.2428%;
  right: 0.4829%;
  top: calc(50% - 2.8128px);
  height: min-content;
  text-align: justify;
  flex-direction: column;
  transform: matrix(1, -0.0064, 0.0065, 1, 0, 0) translateY(-50%);
}
